<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<appenders>
		<console name="console" target="SYSTEM_ERR">
			<patternLayout pattern="%5.5level: %message%n"/>
		</console>
	</appenders>
	<loggers>
		<logger name="com.github.alexisjehan.mavencheck" level="OFF" additivity="false">
			<appenderRef ref="console"/>
		</logger>
		<root level="OFF">
			<appenderRef ref="console"/>
		</root>
	</loggers>
</configuration>