<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<null name="null"/>
	</appenders>
	<loggers>
		<logger name="com.github.alexisjehan.mvncheck" level="ALL" additivity="false">
			<appenderRef ref="null"/>
		</logger>
		<root level="ALL">
			<appenderRef ref="null"/>
		</root>
	</loggers>
</configuration>